.body{
    /* Sign up page */

    position: relative;
    width: 1280px;
    height: 832px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11.48px;

    position: absolute;
    width: 309px;
    height: 97.56px;
    left: 53px;
    top: 38px;


}
.title{

    position: absolute;
    width: 304px;
    height: 64px;
    left: 488px;
    top: 136px;

    font-family: 'Josefin Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 63.5657px;
    line-height: 64px;

    /* identical to box height */
    text-align: center;

    color: #000000;
}

.bulk{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 798px;
    height: 562px;
    left: 65px;
    top: 215px;


}

.username{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 283px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.badge_username{

    width: 104px;
    height: 32px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_username{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    width: 169px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_username{
    width: 169px;
    height: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.password{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 327px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.badge_password{
    /* Password */

    width: 133px;
    height: 32px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_password{
    /* Bubble */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    width: 184px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_password{

    width: 169px;
    height: 20px;

    font-family: 'Josefin Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}



.i_am{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 480px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}
.badge_i_am{

    width: 71px;
    height: 32px;

    font-family: 'Josefin Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_i_am{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    width: 399px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.text_i_am{

    width: 299px;
    height: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}






.name{
    /* Frame 6 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 255px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}
.badge_name{
    width: 89px;
    height: 32px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    width: 156px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_name{
    width: 65px;
    height: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}




.gender{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 283px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
}
.badge_gender{
    /* Gender */

    width: 106px;
    height: 32px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_gender{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    width: 167px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_gender{
    /* Name */

    width: 77px;
    height: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}



.language{
    /* Frame 11 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 351px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
}
.badge_language{
    /* Language */

    width: 148px;
    height: 32px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_language{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    width: 193px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_language{

    width: 120px;
    height: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.bio{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;
    gap: 10px;

    width: 634px;
    height: 130px;


    /* Inside auto layout */
    flex: none;
    order: 6;
    flex-grow: 0;
}
.badge_bio{


    width: 145px;
    height: 32px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_bio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 500px 100px 50px;
    gap: 10px;

    width: 309px;
    height: 70px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_bio{
    width: 40px;
    height: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.bulk_2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 446px;
    height: 281px;
    left: 761px;
    top: 215px;


}



.address{
    width: 278px;
    height: 121px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.badge_address{


    width: 96px;
    height: 32px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_address{

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    width: 402px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_address{
    width: 100px;
    height: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.zip_code{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 321px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.badge_zip_code{

    width: 130px;
    height: 32px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_zip_code{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    width: 181px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_zip_code{
    width: 100px;
    height: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 285px;
    height: 90px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}
.badge_email{
    width: 83px;
    height: 32px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.img_email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;

    width: 149px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_email{
    width: 60px;
    height: 20px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */

    color: #B0B0B0;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}